<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block additional_media1 %}{% endblock %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
{% block head %}
    <div class="header flex_centerY">
        {% block head_content %}
                <div class="header_left flex_centerY">
                    <a href="{% url "index" %}" class="header_logo flex_centerY">
                        <img src="{% static 'shop/res/images/logo.png' %}">
                    </a>
                </div>

                {% block menu %}{% endblock %}
                <div  class="header_right flex_centerY">
                    <a title="wallet" class="header_wallet" href="{% url 'wallet' %}">
                        <div class="header_profile" style="background-image: url({%  static "shop/res/images/wallet.svg" %})"></div>
                    </a>
                    <a title="profile" class="header_profile_url" href="{% url 'account' %}">
                        <div class="header_profile" style="background-image: url({%  static "shop/res/images/profile.svg" %})"></div>
                    </a>
                </div>
        {% endblock %}
    </div>
{% endblock %}


<div class="content flex_centerX">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>


{#{% block footer %}#}
{#	{% block copyright %}#}
{#        <div class="footer flex_centerY">Copyright</div>#}
{#	{% endblock %}#}
{#{% endblock %}#}
</body>
</html>