{%  extends 'base.html' %}
{% load static %}
<head>
    <title>{% block title%}Wallet{% endblock %}</title>
    {%  block additional_media1 %}
        <script src="{% static "wallet/js/download_key.js" %}"></script>
    {% endblock %}
</head>

{% block content %}
    {% if has_wallet %}
        <div>You already has a wallet</div>
        <a href="{% url 'wallet' %}">return</a>
    {% else %}
        <div>Please save these passphrase. You need it to confirm your tranzactions</div>
        <div id="key" style="font-size: 24px"><b>{{ seed }}</b></div>
        <a href="{% url 'wallet' %}">return</a>
    {% endif %}
{%  endblock %}