{%  extends 'base.html' %}
{% load static %}


<head>
    {% block title%}Wallet{% endblock %}
    {%  block additional_media1 %}
        <link rel="stylesheet" href="{% static "wallet/css/wallet.css" %}">
        {% if has_walet %}
            <script src="{% static 'wallet/js/transaction.js' %}"></script>
        {% endif %}
        <script src="{% static 'wallet/js/background.js' %}"></script>
    {% endblock %}
</head>

{%  block content %}
    <div id="particles-js"></div>
{% if has_wallet %}
    {% if error %}
        <div style="color: red">Something went wrong! We will fix it soon</div>
    {% else %}
        {% if request.user.id != None %}
            <div class="center_container flex_centerXY">
                <div class="wallet_info flex_centerY">
                    <div class="wallet_main_info">
                        <div class="wallet_row">
                            <div class="wallet_label">Address </div>
                            <div class="flex_centerY">
                                <div id="wallet_address" class="wallet_info_value">{{ address }}</div>
                                <div style="background-image: url({% static "wallet/img/copy.png" %})" id="copy_text" class="copy_text_btn"></div>
                            </div>
                        </div>
                        <div class="wallet_row">
                            <div class="wallet_label">Balance</div>
                            <div class="wallet_info_walue">{{ balance }} BTC</div>
                        </div>
                        <div class="wallet_row">
                            <div class="wallet_label">Unconfirmed balance</div>
                            <div class="wallet_info_walue">{{ unconfirmed_balance }} BTC</div>
                        </div>
                    </div>
                    <div class="wallet_addiction_info">
                        <img src="{{ qr_path }}" class="wallet_qr" alt="qrcode">
                    </div>
                </div>
                <div class="wallet_btns">
                    <a id="send_btn" href="#">Send</a>
                    <a id="receive_btn" href="#">Receive</a>
                </div>

                <a href="https://coinfaucet.eu/en/btc-testnet/">Get btc</a>
                {% if messages %}
                    {% for message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <form method="POST" action="{% url 'wallet' %}">
                    {% csrf_token %}
                    <label for="mnemonic_field">Your mnemonic words</label>
                    <input id="mnemonic_field" name="mnemonic" type="text">
                    <label for="target_address_field">Wallet Address</label>
                    <input id="target_address_field" name="target_address" type="text">
                    <label for="amount_field">Amount</label>
                    <input id="amount_field" name="amount" type="number" step="0.0001">
                    <input type="submit" name="submit" value="Send">
                </form>
            </div>
            <div id="large-header" class="large-header" style="width: 100%; height: 100vh">
                <canvas id="demo-canvas"></canvas>
            </div>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenLite.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/easing/EasePack.min.js"></script>
            <script src="{% static 'wallet/js/background.js'%}"></script>
        {% else %}
            <div>You're not logged in</div>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    {% endif %}

{% else %}
    <a href="{% url 'create_wallet' %}">create wallet</a>
{% endif %}
{% endblock %}
